@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ul>
        <li><a asp-page="Reports/Index">Berichte</a>
        <li><a asp-page="Reports/Orders">Bestellungen</a>
    </ul>
</div>
