@page
@model ShopInsights.Web.Pages.Reports.Index

@{
    ViewData["Title"] = "Berichte";
}
<form asp-page="./Index" method="get">
    <label>Von</label> <input type="date" name="from" asp-for="From"/>
    <label>Bis</label> <input type="date" name="to" asp-for="To"/>
    <label>Ort</label> <select asp-items="Model.LocationItems" name="location"></select>
    <button type="button">Anzeigen</button>
</form>
<canvas id="chart" width="400" height="200"></canvas>

@section scripts
{
    <script>
    let myChart = null;
    function setChar(data) {
        if (myChart) {
            myChart.destroy();
        }
        myChart = new Chart('chart', {
        type: 'line',
        data: {
            labels: data.labels,
            datasets: [{
                label: 'Umsatz',
                data: data.data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',

                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })}

    function refresh() {
        const from = $('[name=from]').val();
        const to = $('[name=to]').val();
        const location = $('[name=location]').val();
        const url = `/api/reports/sales?from=${from}&to=${to}&location=${location}`;
        fetch(url)
        .then(response => {
           response.json().then(result=>{
                setChar(result);
           })
        });
    }
    $(()=>{
        refresh();
    });
        $('button').on('click', ()=>{
           refresh();
        });


</script>

}
